a {
  text-decoration: none;
}

i {
  color: white;
}

.contact {
  background-color: grey;
  margin-top: 20px;
  padding: 20px;
}

.footer-styling {
  font-size: 24px;
  color: white;
  padding-left: 40px;
}
