:root {
  --primary-color: rgb(27, 27, 27);
  --default-font-family: Didot, Perpetua, "Calibri Light";
  --text-uppercase: text-transform: uppercase;
}

body {
  font-family: var(--default-font-family);
  color: var(--primary-color);
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 40px;
}

img {
    max-width: 300px;
}

p {
  font-size: 20px;
}
.mainproject {
  background-color: grey;
  text-align: center;
  line-height: 18px;
  padding: 160px 20px 40px;
}

.btn-primary {
  background-color: var(--primary-color);
  border-radius: 6px;
  border-color: var(--primary-color);
  color: white;
  font-size: 18px;
  line-height: 26px;
  padding: 15px 30px;
}

.secondary-link {
  background-color:var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  color: white;
  font-size: 18px;
  line-height: 26px;
  padding: 15px 30px; 
}

.themes {
background-color: grey;
  text-align: center;
  line-height: 18px;
  padding: 160px 20px 40px;
}

.subheading, .textaboutme {
    text-align: center;
}

.btn-primary:hover {
    background-color: rgba(38, 104, 38, 0.774);
    border-color: rgba(38, 104, 38, 0.774);
}

.secondary-link:hover {
    background-color: white;
    color: var(--primary-color);
}