:root {
  --header-color: rgb(27, 27, 27);
  --default-font-family: Didot, Perpetua, "Calibri Light";
}

body {
  font-family: var(--default-font-family);
  color: var(--header-color);
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 60px;
}
.mainproject {
  background-color: grey;
  text-align: center;
  line-height: 18px;
  padding: 160px 20px 40px;
}

.btn-primary {
  background-color: white;
  border-radius: 6px;
  border-color: var(--header-color);
  color: var(--header-color);
  font-size: 18px;
  line-height: 26px;
  padding: 15px 30px;
}
