:root {
  --primary-color: rgb(27, 27, 27);
  --default-font-family: Didot, Perpetua, "Calibri Light";
  --text-uppercase: text-transform: uppercase;
}

body {
  font-family: var(--default-font-family);
  color: var(--primary-color);
}

h1 {
  font-size: 96px;
  margin-bottom: 40px;
}

h2 {
  font-size: 40px;
}


img {
    max-width: 400px;
    padding: 40px;
}

p {
  font-size: 20px;
}


.coloredRow {
    background-color: rgb(221, 218, 216);
}
.container-navbar {
  background-color: rgba(255, 255, 255, 0.671);
}

.nav-item {
  font-size: 1.2rem !important;
}
.navbar-brand {
  font-size: 1.8rem !important;
  margin-left: 45px;
}

.mainproject {
  background: linear-gradient(0deg, rgba(89,89,89,1) 1%, rgba(148,153,150,1) 100%);
  text-align: center;
  line-height: 18px;
  padding: 120px 20px 60px;
}

.btn-primary {
  background-color: white;
  border-radius: 6px;
  border-color: var(--primary-color);
  color: var(--primary-color);
  font-size: 18px;
  line-height: 26px;
  padding: 15px 30px;
}

.secondary-link {
  background-color:var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  color: white;
  font-size: 18px;
  line-height: 26px;
  padding: 15px 30px; 
  text-decoration: none;
}

.themes {
background-color: grey;
  text-align: center;
  line-height: 18px;
  padding: 160px 20px 40px;
}

.subheading, .textaboutme {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.project-description {
    padding: 120px 40px;
    max-height: 400px;
}
.btn-primary:hover {
    background-color: rgb(49, 112, 49);
    border-color: rgb(49, 112, 49);
}

.secondary-link:hover {
    background-color: white;
    color: var(--primary-color);
}

#pagelines {
  color: rgb(49, 49, 49);
}
@media (max-width: 414px) {
    h1 {
       font-size: 60px;
    }
    h2 { 
        font-size: 30px;
    }
}